<% if @user.present? %>
	<h2> User Details</h2>
		<table>
			<tr>
				<th>First Name</th>
				<td><%= @user.first_name %></th>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><%= @user.last_name %></th>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= @user.email %></th>
			</tr>
			</tr>
		</table>
<% else %>
<center>
	<h2>Login with My Verified Id</h2>
			<%= link_to image_tag("login.jpeg"), "/auth/myverifiedid" %>
			<%= link_to 'Sign in', new_user_session_path, :class =>"btn-lightgreen" %>
</center>
<% end %>